Source: tran
Section: text
Priority: optional
Maintainer: Adam Borowski <kilobyte@angband.pl>
Build-Depends: debhelper (>=11~)
Standards-Version: 4.1.3
Homepage: https://github.com/kilobyte/tran
Vcs-Git: https://github.com/kilobyte/tran.git -b debian
Vcs-Browser: https://github.com/kilobyte/tran/tree/debian
Rules-Requires-Root: no

Package: tran
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: transcribe between character scripts (alphabets)
 This tool lets you transliterate, with a ¼-hearted attempt at transcription,
 both ways between Latin and a number of other writing scripts.  Thus for
 example the word “Debian” is “Дэбян” in Cyrillic or “Δεβιαν” in Greek.
 Conversion to Latin lets you understand foreign text (at least names if not
 meaning), conversion from Latin is for fun, i10n testing, etc.
 .
 Supported scripts:
  * latin
  * cyrillic
  * greek
  * devanagari
  * futhark (runes)
  * hiragana
  * katakana
  * old italic
  * ascii (Latin without diacritics or digraphs)
  * fullwidth (double-width ASCII)
  * smallcaps
  * Unicode Plane 1 "math" characters: bold, italic, bold italic, script,
    bold script, fraktur, double-struck, bold fraktur, sans-serif,
    sans-serif bold, sans-serif italic, sans-serif bold italic,
    monospace
  * enclosed alphanumerics: circled, parenthesized, squared, negative
    circled, negative squared, regional indicators
